{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}



    <div class="container-credit">

        {% include 'includes/menu.html' %}

        <div class="cadre">
            <div class="cadre-entete">


                <table class=" add-table">
                    <thead>

                    <tr>

                        <th scope="col" style="background-color: aqua">Контрагент</th>
                        <th scope="col" style="background-color: aqua">Накладная</th>
                        <th scope="col" style="background-color: aqua">Сумма</th>
                        <th scope="col" style="background-color: aqua">Действия</th>
                        <th scope="col" style="background-color: aqua">Дата</th>


                    </tr>
                    </thead>

                    <tbody>


                    {% for paiement in paiements %}



                        <tr>

                            <td style="text-align: left; font-weight: bold;font-size: 12px;"><span
                                    style="margin-left: 5px">{{ paiement.client.nom }}</span></td>
                            <td>{{ paiement.recu }} </td>
                            <td>{{ paiement.credit }}$</td>
                            <td style="color: red">{{ paiement.action }}</td>
                            <td>{{ paiement.date }} </td>


                        </tr>




                    {% endfor %}


                    </tbody>

                </table>


            </div>


            <div class="cadre-credit">


                <div class="cadre-credit-paiement">

                    <div class="cadre-form" style="background-color: aqua">

                        <h1>
                            ОПЛАТИТЬ ДОЛГИ
                        </h1><br>

                        <form method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form|crispy }}

                            <br><br>

                            <div class="form-group" style="margin: 10px; text-align: center">


                                <a class="btn btn-success" href="{% url 'app:paiements-credits' %}">Отмена</a>

                                <button class="btn btn-danger" type="submit">Сохранять</button>

                            </div>


                        </form>


                    </div>

                </div>

            </div>

        </div>


    </div>






{% endblock body %}
