{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}



    <div class="container-credit" style="background-color: whitesmoke">

        {% include 'includes/menu.html' %}

        <div class="cadre" style="background-color: whitesmoke">


            <div class="cadre-credit" style="background-color: whitesmoke">


                <div class="cadre-credit-paiement" style="background-color: whitesmoke">

                    <div class="cadre-form" style="background-color: whitesmoke">


                        <form method="post" enctype="multipart/form-data" style="width: 50%">

                            {% csrf_token %}

                            <fieldset class="form-group" style="margin: 10px; text-align: center">

                                <legend style="">

                                    <span style="font-size: 18px; color: black; text-transform: uppercase; font-weight: bold">{{ object.date }}</span><br>


                                </legend>
                                <br>

                                <h2 style="font-size: 20px"> Вы уверены, что хотите это удалить? <br>
                                    <p style="margin-top: 5px; font-size: 13px; color: red"> Он будет навсегда удален из
                                        базы
                                        данных.</p>
                                </h2>

                            </fieldset>


                            <br>

                            <div class="form-group" style="margin: 10px; text-align: center">


                                <a class="btn btn-success" href="{% url 'app:add-dates' %}">Отмена</a>

                                <button class="btn btn-danger" type="submit">удалить</button>

                            </div>


                        </form>


                    </div>

                </div>

            </div>

        </div>


    </div>






{% endblock body %}
